In [1]:
# 1. Importando bibliotecas
import pandas as pd
import sqlite3
from google.colab import files

In [4]:
# 2. Upload dos arquivos CSV
uploaded = files.upload()

Saving TB_VENDAS_TAREFA.csv to TB_VENDAS_TAREFA.csv

In [5]:
# 3. Lendo os arquivos CSV
df_funcionarios = pd.read_csv("td_funcionarios.csv", delimiter=';')
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';')

In [6]:
# 4. Criando o banco de dados SQLite em memória
conn = sqlite3.connect(':memory:')

In [7]:
# 5. Enviando os DataFrames para o banco SQLite
df_funcionarios.to_sql('td_funcionarios', conn, index=False, if_exists='replace')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [8]:
# 6. Função para executar queries SQL
def run_query(query):
    return pd.read_sql_query(query, conn)

In [9]:
# ---------------------------- CONSULTAS SQL ----------------------------

In [10]:
# Selecionando áreas distintas
query = "SELECT DISTINCT ÁREA FROM td_funcionarios"
print(run_query(query))

        ÁREA
0         TI
1        ADM
2  MARKETING

In [11]:
# Filtrando cargos dentro da área de TI
query = "SELECT CARGO FROM td_funcionarios WHERE ÁREA IN ('TI')"
print(run_query(query))

    CARGO
0  JUNIOR
1  SENIOR
2  SENIOR

In [12]:
# Filtrando funcionários de TI e ADM
query = "SELECT * FROM td_funcionarios WHERE ÁREA IN ('TI', 'ADM')"
print(run_query(query))

    ID ÁREA   CARGO  SALÁRIO  TEMPO_NA_EMPRESA
0  136   TI  JUNIOR     2500                 0
1  125   TI  SENIOR     6000                 1
2  148   TI  SENIOR     6000                 2
3  456  ADM   PLENO     4500                 2
4  345  ADM   PLENO     4600                 4
5  254  ADM  SENIOR     5600                 5
6  178  ADM  JUNIOR     2200                 0

In [13]:
# Filtrando área que começa com "T"
query = "SELECT * FROM td_funcionarios WHERE ÁREA LIKE 'T%'"
print(run_query(query))

    ID ÁREA   CARGO  SALÁRIO  TEMPO_NA_EMPRESA
0  136   TI  JUNIOR     2500                 0
1  125   TI  SENIOR     6000                 1
2  148   TI  SENIOR     6000                 2

In [14]:
# Comparando usando letras minúsculas com LOWER
query = """
SELECT *
FROM td_funcionarios
WHERE LOWER(ÁREA) IN ('adm', 'ti')
"""
print(run_query(query))

    ID ÁREA   CARGO  SALÁRIO  TEMPO_NA_EMPRESA
0  136   TI  JUNIOR     2500                 0
1  125   TI  SENIOR     6000                 1
2  148   TI  SENIOR     6000                 2
3  456  ADM   PLENO     4500                 2
4  345  ADM   PLENO     4600                 4
5  254  ADM  SENIOR     5600                 5
6  178  ADM  JUNIOR     2200                 0

In [15]:
# Exibindo apenas a coluna área em minúsculo
query = """
SELECT LOWER(ÁREA) AS AREA_MINUSCULA
FROM td_funcionarios
WHERE LOWER(ÁREA) IN ('adm', 'ti')
"""
print(run_query(query))

  AREA_MINUSCULA
0             ti
1             ti
2             ti
3            adm
4            adm
5            adm
6            adm

In [16]:
# Funcionários com salário maior ou igual a 2000
query = "SELECT * FROM td_funcionarios WHERE SALÁRIO >= 2000"
print(run_query(query))

    ID       ÁREA   CARGO  SALÁRIO  TEMPO_NA_EMPRESA
0  136         TI  JUNIOR     2500                 0
1  125         TI  SENIOR     6000                 1
2  148         TI  SENIOR     6000                 2
3  456        ADM   PLENO     4500                 2
4  345        ADM   PLENO     4600                 4
5  254        ADM  SENIOR     5600                 5
6  178        ADM  JUNIOR     2200                 0
7  365  MARKETING  JUNIOR     2300                 1
8  145  MARKETING  SENIOR     5500                 3
9  258  MARKETING   PLENO     4600                 2

In [17]:
# Contagem de funcionários com salário maior ou igual a 2000
query = "SELECT COUNT(ID) AS QTD_SALARIO_2000_MAIS FROM td_funcionarios WHERE SALÁRIO >= 2000"
print(run_query(query))

   QTD_SALARIO_2000_MAIS
0                     10

In [18]:
# Contagem com salário menor ou igual a 2000
query = "SELECT COUNT(ID) AS QTD_SALARIO_2000_MENOS FROM td_funcionarios WHERE SALÁRIO <= 2000"
print(run_query(query))

   QTD_SALARIO_2000_MENOS
0                       0

In [19]:
# Usando AND para filtrar
query = "SELECT * FROM td_funcionarios WHERE ÁREA = 'TI' AND CARGO = 'ADM'"
print(run_query(query))

Empty DataFrame
Columns: [ID, ÁREA, CARGO, SALÁRIO, TEMPO_NA_EMPRESA]
Index: []

In [20]:
# Usando OR para filtrar
query = "SELECT * FROM td_funcionarios WHERE ÁREA = 'TI' OR CARGO = 'ADM'"
print(run_query(query))

    ID ÁREA   CARGO  SALÁRIO  TEMPO_NA_EMPRESA
0  136   TI  JUNIOR     2500                 0
1  125   TI  SENIOR     6000                 1
2  148   TI  SENIOR     6000                 2

In [21]:
# Filtrando áreas que não são TI
query = "SELECT * FROM td_funcionarios WHERE ÁREA NOT IN ('TI')"
print(run_query(query))

    ID       ÁREA   CARGO  SALÁRIO  TEMPO_NA_EMPRESA
0  456        ADM   PLENO     4500                 2
1  345        ADM   PLENO     4600                 4
2  254        ADM  SENIOR     5600                 5
3  178        ADM  JUNIOR     2200                 0
4  365  MARKETING  JUNIOR     2300                 1
5  145  MARKETING  SENIOR     5500                 3
6  258  MARKETING   PLENO     4600                 2

In [22]:
# Verificando nulos
query = "SELECT * FROM td_funcionarios WHERE ÁREA IS NULL"
print(run_query(query))

Empty DataFrame
Columns: [ID, ÁREA, CARGO, SALÁRIO, TEMPO_NA_EMPRESA]
Index: []

In [23]:
# Verificando não nulos
query = "SELECT * FROM td_funcionarios WHERE ÁREA IS NOT NULL"
print(run_query(query))

    ID       ÁREA   CARGO  SALÁRIO  TEMPO_NA_EMPRESA
0  136         TI  JUNIOR     2500                 0
1  125         TI  SENIOR     6000                 1
2  148         TI  SENIOR     6000                 2
3  456        ADM   PLENO     4500                 2
4  345        ADM   PLENO     4600                 4
5  254        ADM  SENIOR     5600                 5
6  178        ADM  JUNIOR     2200                 0
7  365  MARKETING  JUNIOR     2300                 1
8  145  MARKETING  SENIOR     5500                 3
9  258  MARKETING   PLENO     4600                 2

In [24]:
# Ordenando por salário (decrescente)
query = "SELECT * FROM td_funcionarios ORDER BY SALÁRIO DESC"
print(run_query(query))

    ID       ÁREA   CARGO  SALÁRIO  TEMPO_NA_EMPRESA
0  125         TI  SENIOR     6000                 1
1  148         TI  SENIOR     6000                 2
2  254        ADM  SENIOR     5600                 5
3  145  MARKETING  SENIOR     5500                 3
4  345        ADM   PLENO     4600                 4
5  258  MARKETING   PLENO     4600                 2
6  456        ADM   PLENO     4500                 2
7  136         TI  JUNIOR     2500                 0
8  365  MARKETING  JUNIOR     2300                 1
9  178        ADM  JUNIOR     2200                 0

In [25]:
# Ordenando por salário (crescente)
query = "SELECT * FROM td_funcionarios ORDER BY SALÁRIO ASC"
print(run_query(query))

    ID       ÁREA   CARGO  SALÁRIO  TEMPO_NA_EMPRESA
0  178        ADM  JUNIOR     2200                 0
1  365  MARKETING  JUNIOR     2300                 1
2  136         TI  JUNIOR     2500                 0
3  456        ADM   PLENO     4500                 2
4  345        ADM   PLENO     4600                 4
5  258  MARKETING   PLENO     4600                 2
6  145  MARKETING  SENIOR     5500                 3
7  254        ADM  SENIOR     5600                 5
8  125         TI  SENIOR     6000                 1
9  148         TI  SENIOR     6000                 2

In [26]:
# Soma de salários por área
query = """
SELECT ÁREA, SUM(SALÁRIO) AS TOTAL_SALARIOS
FROM td_funcionarios
GROUP BY ÁREA
"""
print(run_query(query))

        ÁREA  TOTAL_SALARIOS
0        ADM           16900
1  MARKETING           12400
2         TI           14500

In [27]:
# Média de salários por área
query = """
SELECT ÁREA, AVG(SALÁRIO) AS MEDIA_SALARIOS
FROM td_funcionarios
GROUP BY ÁREA
"""
print(run_query(query))

        ÁREA  MEDIA_SALARIOS
0        ADM     4225.000000
1  MARKETING     4133.333333
2         TI     4833.333333

In [28]:
# Média e soma dos salários por área
query = """
SELECT ÁREA, AVG(SALÁRIO) AS MEDIA_SALARIOS, SUM(SALÁRIO) AS TOTAL_SALARIOS
FROM td_funcionarios
GROUP BY ÁREA
"""
print(run_query(query))

        ÁREA  MEDIA_SALARIOS  TOTAL_SALARIOS
0        ADM     4225.000000           16900
1  MARKETING     4133.333333           12400
2         TI     4833.333333           14500

In [29]:
# Agrupando por área e cargo
query = """
SELECT ÁREA, CARGO, AVG(SALÁRIO) AS MEDIA_SALARIOS, SUM(SALÁRIO) AS TOTAL_SALARIOS
FROM td_funcionarios
GROUP BY ÁREA, CARGO
"""
print(run_query(query))

        ÁREA   CARGO  MEDIA_SALARIOS  TOTAL_SALARIOS
0        ADM  JUNIOR          2200.0            2200
1        ADM   PLENO          4550.0            9100
2        ADM  SENIOR          5600.0            5600
3  MARKETING  JUNIOR          2300.0            2300
4  MARKETING   PLENO          4600.0            4600
5  MARKETING  SENIOR          5500.0            5500
6         TI  JUNIOR          2500.0            2500
7         TI  SENIOR          6000.0           12000

In [30]:
# Filtrando TI com salário acima de 3000
query = """
SELECT ID, CARGO
FROM td_funcionarios
WHERE ÁREA = 'TI' AND SALÁRIO > 3000
"""
print(run_query(query))

    ID   CARGO
0  125  SENIOR
1  148  SENIOR

In [31]:
# Funcionários de ADM e MARKETING com maiores salários
query = """
SELECT ID, SALÁRIO
FROM td_funcionarios
WHERE ÁREA IN ('ADM', 'MARKETING')
ORDER BY SALÁRIO DESC
"""
print(run_query(query))

    ID  SALÁRIO
0  254     5600
1  145     5500
2  345     4600
3  258     4600
4  456     4500
5  365     2300
6  178     2200

In [32]:
# Top 3 maiores salários
query = """
SELECT ÁREA, SALÁRIO
FROM td_funcionarios
ORDER BY SALÁRIO DESC
LIMIT 3
"""
print(run_query(query))

  ÁREA  SALÁRIO
0   TI     6000
1   TI     6000
2  ADM     5600

In [33]:
# Soma de salários por área, ordenado por valor
query = """
SELECT ÁREA, SUM(SALÁRIO) AS SALÁRIO_TOTAL
FROM td_funcionarios
GROUP BY ÁREA
ORDER BY SALÁRIO_TOTAL DESC
"""
print(run_query(query))

        ÁREA  SALÁRIO_TOTAL
0        ADM          16900
1         TI          14500
2  MARKETING          12400

In [34]:
# Soma de salários e média de tempo na empresa por área e cargo
query = """
SELECT
ÁREA,
CARGO,
SUM(SALÁRIO) AS SALÁRIO_TOTAL,
AVG(TEMPO_NA_EMPRESA) AS MED_TEMP_EMPRESA
FROM td_funcionarios
GROUP BY ÁREA, CARGO
ORDER BY SALÁRIO_TOTAL DESC
"""
print(run_query(query))

        ÁREA   CARGO  SALÁRIO_TOTAL  MED_TEMP_EMPRESA
0         TI  SENIOR          12000               1.5
1        ADM   PLENO           9100               3.0
2        ADM  SENIOR           5600               5.0
3  MARKETING  SENIOR           5500               3.0
4  MARKETING   PLENO           4600               2.0
5         TI  JUNIOR           2500               0.0
6  MARKETING  JUNIOR           2300               1.0
7        ADM  JUNIOR           2200               0.0